._1 {
    list-style-type: upper-roman; /* для маркера можно выбрать другой стиль */
    list-style-position: inside; /* маркеры внутри или снаружи (outside) */
    list-style-image: url(''); /* прикрепляет картинук вместо маркеров, в оригинальном размере */
}

._2 {
    list-style: lower-greek outside none; /* можно записать все тоже самое, но в одну строчку */
}

/* ------------------------ работа с ссылками, стилизация ------------------------------ */

a:visited { /* обращается ко всем ссылкам, по которым уже перешли */
    color: green;
}

a:link { /* определяет стиль обычных непосещенных ссылок */
    text-decoration: none; /* удаляет стандартное подчеркивание */
    color: black;
    background: yellow;
}

a:active { /*стили при нажатии на ссылку */
    color:blue;
    background: red;
    text-decoration: line-through;
}

a:hover{ /* стили при наведении на ссылку курсора */
    background: green;
    font-size: 20px;
    color: white;
}

.li_23 {
    display: inline-block; /* если у нас список из ссылок ,то данная функция располагает их в одну строчку, а не списком */
}

/* ------------------------ работа с таблицами ------------------------------ */

.tab_1 {
    border-collapse: collapse; /* объединяем ячейки нашей таблицы */
    width: 25%; /* ширина таблицы относительно экрана */
}

th, td { /* делаем ячейки для нашей таблицы */
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

th {
    background-color: #d3d3d3; /* задаем цвет нашим ячейкам-заголовкам */
    color: black;
}

tr:nth-child(2) { /* можно обратиться напрямую к строчке, указав ее номер */
    background-color: blue;
    color: white;
}

tr:nth-child(even) { /* обращаемся к четным строкам */
    text-align: right;
    font-size: 20px;
}

tr:nth-child(odd) { /* обращаемся к нечетным строкам */
    text-align: left;
    color: yellow;
    font-weight: 700;
    background-color: grey;
}
