.fonts_1 {
    font-family: Arial; /* изменяет шрифт */
    font-style: italic; /* курсив */
    text-transform: lowercase; /* переводит текст в нижний регистр, строчные буквы */
    font-weight: 900;
    word-spacing: 5px; /* расстояние между словами */
}


.fonts_2 {
    font-family: "Helvetica Neue", Georgia, Arial; /* если название шрифта из нескольких слов, пишем в кавычках,
    также можно указывать несколько шрифтов через запятую на случай, если какой-то не сработает, сработает следующий */
    font-size: 25px;
    font-weight: 100; /* толщина шрифта, от 100 до 900, шде 700 это обычный жирный - bold */
}


#fonted {
    text-transform: capitalize; /* Все слова с заглавной буквы пишет */
    text-shadow: 5px 7px 4px green; /* можно добавить тень к тексту
    первая величина вытягивает тень по горизонтали, далее вертикаль,
    затем размытость и цвет */
    line-height: 4.5px; /* высота строки. норма 1.5px -2px */
}


#shadow {
    text-shadow: 3px 17px 5px red, 10px 10px 1px blue; /* если нужно, можно добавить
    две тени, параметры прописываются через запятую */
}


.ras {
    font-size: 20px;
    text-align: justify; /* растягивает текст, можно также использовать значение left, right, center */
    letter-spacing: 10px; /* расстояние между буквами */
}


.bord {
    padding: 20px 5px 2px 5px; /* внутренние отступы, до рамки */
    border: 2px solid grey; /* рамка */
    margin: 40px 20px 10px 4px; /* внешние отступы, после рамки */
    height: 100px; /* высота блока */
}


#border {
    width: 20%; /* ширина, относительно страницы */
    height: 200px;
    border-style: dashed; /* виды рамок */
}


#border_2 {
    padding: 30px 40px 20px 10px; /* не учитывается из-за border-box */
    margin: 20px 20px 20px 20px; /* не учитывается из-за border-box */
    width: 30%;
    height: 150px;
    border-style: dashed;
    box-sizing: border-box; /* не обращает внимание на padding и mardin. ориентируется на width и height */
}

.foto_bg { /* можно поставить картинку на задний фон блока */
    background-image: url('https://krot.info/uploads/posts/2021-11/1636577685_15-krot-info-p-rassvet-v-lesu-krasivoe-foto-16.jpg');
    width: 200px;
    height: 200px;
    background-repeat: no-repeat; /* не повторять картинку */
    background-position: 50px 50px; /* расположение картинки в блоке, начинаестся с (0,0) лев. верхн. угол*/
    color: #000000;
    background-size: contain; /* полностью вставляет в блок картинку, а contain сохраняет растягивает картинку */
    border-style:double;
    padding: 5px;
}
