.tran_1 {
    width: 50px;
    height: 50px;
    background-color: red;
    transition: 3s; /* отвечает за изменение элемента, устанавливаем время */
    position: relative;
    left: 0px;
}

.tran_1:hover { /* прописываем все изменения, которые произойдуд при наведении курсора */
    background-color: black;
    width: 100px;
    left: 100px;
}

.tran_2 {
    width: 50px;
    height: 50px;
    background-color: white;
    text-align: center;
    transition: background-color 3s;
    transition-timing-function: ease-in; /* изменяет эффект движения */
    border: 1px solid black;
}

p:hover {
    background-color: grey;
    border: 10px dotted red;
}

.tran_3 {
    width: 50px;
    height: 50px;
    background-color: white;
    text-align: center;
    transition: transform 5s ease-out; /* указываем все параметры вместе,
    заместо transition-timing-function */
    border: 1px solid black;
}

section:hover {
    background-color: yellow;
    width: 150px;
    transform: rotate(130deg); /* поворачиваем элемент на 130 градусов */
}

/* transition:
ease - анимация начинается медленно, затем быстро ускоряется
ease-in - начинается медленно, затем ускоряется
ease-out - начинается быстро, но замедляется в конце
ease-in-out - аналогично ease, но с более плавным ускорением и замедлением
linear - постоянная скорость на протяжении всей анимации,
больше подходит для изменения цвета или непрозрачности */

#shadow { /* задали параметры тени */
    font-size: 20px;
    text-shadow: 20px 10px 1px red;
    transition: text-shadow 5s ease-in;
}

#shadow:hover { /* сделали так, чтобы тень двигалась и менялась */
    text-shadow: 30px 50px 10px blue;
}

/* ---------------------- Анимация -------------------------- */

.ani_1 {
    width: 50px;
    height: 100px;
    background-color: yellow;
    animation-name: changecolor; /* даем имя нашей анимации */
    animation-duration: 5s; /* указываем время анимации */
    animation-delay: 2s; /* задержка перед началом */
    animation-iteration-count: infinite; /* кол-во итераций, указывается в цифрах,
    infinite - бесконечное кол-во итераций */

}

@keyframes changecolor { /* ключевые слова, пишем имя анимации */
    0% {background-color: red} /* прописываем этапы и свойство, которое будет меняться */
    0% {color: red}
    20% {background-color: blue}
    20% {color: blue}
    40% {background-color: purple}
    40% {color: red}
    41% {width: 100px}
    60% {background-color: grey}
    61% {color: white}
    80% {background-color: green}
    80% {color: green}
    100% {background-color: pink}
    100% {color: pink} /* можно указывать сколько угодно условий */
}

.ani_2 {
    width: 100px;
    height: 10px;
    background-color: red;
    animation-name: change; /* имя анимации */
    animation-duration: 3s; /* время анимации */
    animation-timing-function: ease-in-out; /* тип и скорость анимации выбираем */
    animation-delay: 0ms; /* указывается в секундах и милисекундах */
    animation-iteration-count: infinite; /* кол-во повторений */
    animation-direction: alternate-reverse; /* последовательность применения
    ключевого кадра: обычная, нормальная и т.д. */
}

@keyframes change {
    from {width: 10px} /* ключевое слово from = 0% */
    from {background-color: red}
    to {height: 100px} /* ключевое слово to = 100% */
    to {background-color: black}
}

/* можно все 6 параметров заменить одной строчкой animation,
но последовательность всех параметров строго сохраняется */

.ani_3 {
    width: 100px;
    height: 10px;
    background-color: red;
    animation: change 3s ease-in-out 0ms infinite alternate-reverse;
    /* 6 условий анимации в одну строчку, последовательность строго */
}

@keyframes change {
    from {width: 10px} /* ключевое слово from = 0% */
    from {background-color: red}
    to {height: 100px} /* ключевое слово to = 100% */
    to {background-color: black}
}
