/* 1. создаем класс, в котором пропишем параметры стиля */
.main_style {
    color: red;
    background: black;
    font-size: 20px;
}

/* 2. создаем id для указания параметров стиля, аналог класса, но 1 id может применяться только 1 раз,
чаще применяется к шапке сайта или футеру */
#testid {
    color: blue;
    font-size: 25px;
}

/* 3. вложенный селектор выбора. мы указываем тот тег, в котором есть нужный нам тег для применения стиля */
/* 4. также можно группировать теги, через запятую. в данном примере у нас стиль применится ко всем тегам "b"
в теге div, а также ко всем тегам "i" на странице */
div b, i {
    color: green;
}

.main_links {
    color: red;
    text-decoration: overline;
    font-size: 20px;
    background: yellow;
}

/* 5. создаем псевдокласс, чтобы при наведении на ссылку, текст становился другим цветом, 
а подчеркивание сверху менялось на обычное подчеркивание снизу */
.main_links:hover {
    color: black;
    font-size: 35px;
    text-decoration: underline ; /* 6. добавляем линию, подчеркнутый текст */
    text-decoration-style: double; /* 7. выбираем стиль линии */
    text-decoration-color: green; /* 8. выбираем цвет линии */
    cursor: zoom-in; /* 9. стиль курсора тоже можно менять, в данном случае он становится лупой, меняя свой вид */;
}

.main_links:active { /* 10. псевдокласс, который ПРИ НАЖАТИИ перечеркивает текст  */
    text-decoration: line-through;
}

.main_links:visited { /* 11. изменяет текст цвета у ссылок, по которым перешли */
    color: grey;
}

input { /* 12. задали цвет текста для всех полей ввода, когда курсор не в поле */
    color: blue;
}

input:focus { /* 13. псевдокласс, который меняет цвет текста в поле ввода, когда курсор в поле */
    color: red;
}

input:enabled { /* 14. ко всем полям, которые активные */
    background: yellow;
}

input:disabled { /* 15. ко всем полям, которые неактивны */
    background: red;
}

input:required { /* 16. ко всем полям, которые обязательны для заполнения */
    background: black;
    color: white;
}

/* 17. создаем псевдокласс, который будет применен только к обзацам, которые пустые */

p.text-cool:empty {
    background: green;
}

/* 18. создаем псевдокласс, который будет применен только к обзацам, которые НЕ пустые */
p.text-cool:not(:empty) {
    background: grey;
}