/* 1. создаем класс, в котором пропишем параметры стиля */
.main_style {
    color: red;
    background: black;
    font-size: 20px;
}

/* 2. создаем id для указания параметров стиля, аналог класса, но 1 id может применяться только 1 раз,
чаще применяется к шапке сайта или футеру */
#testid {
    color: blue;
    font-size: 25px;
}

/* 3. вложенный селектор выбора. мы указываем тот тег, в котором есть нужный нам тег для применения стиля */
/* 4. также можно группировать теги, через запятую. в данном примере у нас стиль применится ко всем тегам "b"
в теге div, а также ко всем тегам "i" на странице */
div b, i {
    color: green;
}

/* */

