._1 {
    list-style-type: upper-roman; /* для маркера можно выбрать другой стиль */
    list-style-position: inside; /* маркеры внутри или снаружи (outside) */
    list-style-image: url(''); /* прикрепляет картинук вместо маркеров, в оригинальном размере */
}

._2 {
    list-style: lower-greek outside none; /* можно записать все тоже самое, но в одну строчку */
}

/* ------------------------ работа с ссылками, стилизация ------------------------------ */

a:visited { /* обращается ко всем ссылкам, по которым уже перешли */
    color: green;
}

a:link { /* определяет стиль обычных непосещенных ссылок */
    text-decoration: none; /* удаляет стандартное подчеркивание */
    color: black;
    background: yellow;
}

a:active { /*стили при нажатии на ссылку */
    color:blue;
    background: red;
    text-decoration: line-through;
}

a:hover{ /* стили при наведении на ссылку курсора */
    background: green;
    font-size: 20px;
    color: white;
}

.li_23 {
    display: inline-block; /* если у нас список из ссылок ,то данная функция располагает их в одну строчку, а не списком */
}
